%% -*- erlang -*-
%%  Hex test
%%
[
 {lager, [
	  {handlers, [
		      {lager_console_backend, [debug,true]}
		     ]}
	 ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},

 %% hex config
 {hex, [
	{nodeid,16#03000301},
	{config,
%% INLINE CONFIG
%% Hex RGB slider demo
%% Three sliders mix color in a rectangle

[
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, 1, {hex_can, []}, {id, chan, type, value}},

 {event, red,
  {hex_epx, [{id,red},{type,slider},
	     {x,26},{y,10},{width,268},{height,32},
	     {fill,solid},{color,16#ffff0000},{min,0},{max,65553}]},
  {{xcobid, pdo1_tx, 16#20002}, 1, analog, value}},

 {event, close,
  {hex_epx, [{id,screen},{type,window},{static,false}]},
  {{xcobid, pdo1_tx, 16#20002}, 4, digital, value} },

 {input,1,
  {{xcobid, pdo1_tx, 16#20002}, 1, analog, []},
  [{output,[{channel,1}]}]},

 {output, 1, [{enable,"true"},
	      {target,[{name,value},
		       {expr,"in*-0.00203+112.64617"}]}
	    ],
 [{"true",
   {hex_epx, [{id,r_rect},{type,value},
	      {x,30},{y,130},{width,260},{height,64},{fill,solid},
	      {value, 0.0},
	      {format, "~.1f"},
	      {color, 16#ff00ff}]}}]}

 ]}]}
].
