%% -*- erlang -*-
%%  Simple example with on epx button and one action
%%
[
 {lager, [
	  {handlers, [
		      {lager_console_backend, [info,true]}
		     ]}
	 ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},

 %% hex config
 {hex, [
	{nodeid,16#03000301},
	{config,
%% INLINE CONFIG
%% Simple hex_epx button connected to audio output
[
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, "can_input", {hex_can, []}, {id, chan, type, value}},
 {event, "wof.button",
  {hex_epx, [{id,wof},{type,button},
	     {x,26},{y,10},{width,64},{height,64},
	     {fill,solid},{color,16#ffff0000},
	     {font,[{name,"Arial"},{size,12}]},
	     {text,"BARK"}]},
  {{xcobid, pdo1_tx, 16#20002}, 1, digital, value}},

 {input,"button.1.pressed",
  {{xcobid, pdo1_tx, 16#20002}, 1, digital, []}, 
  [{output,[{channel,1}]}]},

 {input,"bark_stopped",
  {{xcobid, pdo1_tx, self}, 10, analog, []}, 
  [{analog_trigger,always},{output,[{channel,2}]}]},

 {output, 1, [{transmit,true}],
  [{"ena",
    {hex_script,
     [{command,[{os,"darwin"},
		{cmdline,"afplay $/hex//priv/bark.wav"},
		{status, [{{xcobid,pdo1_tx,self}, 10, analog, status}]}
	       ]},
      {command,[{os,"linux"},
		{cmdline,"paplay $/hex//priv/bark.wav"},
		{status, [{{xcobid,pdo1_tx,self}, 10, analog, status}]}
	       ]}
     ]}}]},

 {output, 2, [{enable,"true"}],
  [{"true",
    {hex_debug, []}}]}


]}
]}
].
