%% -*- erlang -*-
%%  Example showing several output config elements
%%
[
 {lager, [
	  {handlers, [
		      {lager_console_backend, [info,true]}
		     ]}
	 ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},

 %% hex config
 {hex, [
	{nodeid,16#03000301},
	{config,
%% INLINE CONFIG
%% One button to start a sequence shown by using 
%% a epx rectangle element as output.
[
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, 1, {hex_can, []}, {id, chan, type, value}},

 {event, 2,
  {hex_epx, [{id,start},{type,button},
	     {x,26},{y,10},{width,64},{height,64},
	     {fill,solid},{color,16#ffff0000},
	     {font,[{name,"Arial"},{size,12}]},
	     {text,"START"}]},
  {{xcobid, pdo1_tx, 16#20002}, 1, digital, value}},

 {input,1,
  {{xcobid, pdo1_tx, 16#20002}, 1, digital, []}, 
  [{springback,true},{output,[{channel,1}]}]},

 {input,21,
  {{xcobid,pdo1_tx,self}, 1, output_active, []},
  [{output,[{channel,21},{target,color}]}]},

 {output, 1, [{transmit,true},{feedback,true},
	      {delay, 100},
	      {rampup, 1000},{sustain, 2000},{rampdown, 500},
	      {wait,750},{repeat,-1},
	      {low, 10},
	      {high, 110},
	      {analog, true},
	      {output, "y"},
	      {out_name, y}
	     ],
  [{"ena && ?y",
    {hex_epx, [{id,r},{type,rectangle},
	       {x,100},{y,10},{width,10},{height,10},{fill,blend},
	       {color, 16#ff00ff00}]}}]},

{output, 21, [{enable,"true"},
	     {target,[{name,color},
		      {expr,"map(color,0,1,16#00000000,16#ff00ff00)"}]}
	     ],
 [{"true",
   {hex_epx, [{id,a_start},{type,rectangle},
	      {x,24},{y,10},{width,2},{height,64},{fill,blend},
	      {color, 16#00000000}]}} ]}

 ]}]}
].
