%% -*- erlang -*-
%%  Hex test
%%
[
 {lager, [
	  {handlers, [
		      {lager_console_backend, [debug,true]}
		     ]}
	 ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},

 %% hex config
 {hex, [
	{nodeid,16#03000301},
	{config,
%% INLINE CONFIG
%% Hex RGB slider demo
%% Three sliders mix color in a rectangle

[
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, 1, {hex_can, []}, {id, chan, type, value}},

 {event, 10,
  {hex_epx, [{id,"output"}, {type,panel}, {tabs,["1","2","3","4"]},
	     {fill,solid},{color, 16#ffff0000},
	     {x,1},{y,1},{width,238},{height,126}]},
  {{xcobid, pdo1_tx, 16#20002}, 10, analog, value} },

 {event, 11,
  {hex_epx, [{id,"output.1.delay"},{type,slider},
	     {x,1},{y,5},{width,100},{height,10},
	     {fill,solid},{color,16#ffcccccc},{min,0},{max,16#ffff}]},
  {{xcobid, pdo1_tx, 16#20002}, 11, analog, value} },

 {event, 12,
  {hex_epx, [{id,"output.1.rampup"},{type,slider},
	     {x,1},{y,20},{width,100},{height,10},
	     {fill,solid},{color,16#ffcccccc},{min,0},{max,16#ffff}]},
  {{xcobid, pdo1_tx, 16#20002}, 12, analog, value} },

 {event, 13,
  {hex_epx, [{id,"output.1.rampdown"},{type,slider},
	     {x,1},{y,35},{width,100},{height,10},
	     {fill,solid},{color,16#ffcccccc},{min,0},{max,16#ffff}]},
  {{xcobid, pdo1_tx, 16#20002}, 13, analog, value} },

 {event, 14,
  {hex_epx, [{id,"output.1.sustain"},{type,slider},
	     {x,1},{y,50},{width,100},{height,10},
	     {fill,solid},{color,16#ffcccccc},{min,0},{max,16#ffff}]},
  {{xcobid, pdo1_tx, 16#20002}, 14, analog, value} },

 {input,1,
  {{xcobid, pdo1_tx, 16#20002}, 11, analog, []},
  [{output,[{channel,1},{target,delay}]}]},

 {input,2,
  {{xcobid, pdo1_tx, 16#20002}, 12, analog, []},
  [{output,[{channel,1},{target,rampup}]}]},

 {input,3,
  {{xcobid, pdo1_tx, 16#20002}, 13, analog, []},
  [{output,[{channel,1},{target,rampdown}]}]},

 {input,4,
  {{xcobid, pdo1_tx, 16#20002}, 14, analog, []},
  [{output,[{channel,1},{target,sustain}]}]},

{output, 1, [{enable,"true"}],
 [{"true",
   {hex_epx, [{id,r_rect},{type,rectangle},
	      {x,30},{y,130},{width,260},{height,64},{fill,solid},
	      {color, 16#000000}]}}]}
 ]}
 ]}
].
