%% -*- erlang -*-
%%  Hex test
%%
[
 {lager, [
	  {handlers, [
		      {lager_console_backend, [debug,true]}
		     ]}
	 ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},

 {hex_epx, [{width, 320}, {height, 320}]},

 %% hex config
 {hex, [
	{nodeid,16#03000301},
	{config,
%% INLINE CONFIG
%% Hex RGB slider demo
%% Three vertical sliders mix color in a rectangle

[
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, 1, {hex_can, []}, {id, chan, type, value}},

 {event, red,
  {hex_epx, [{id,red},{type,slider},
	     {x,26},{y,10},{width,6},{height,220},
	     {fill,solid},{color,16#ffff0000},
	     {color2, 16#000000},
	     {min,0},{max,255},
	     {orientation, vertical},
	     {border, 1},
	     {topimage, "$/hex//test/knob.png"}
	    ]},
  {{xcobid, pdo1_tx, 16#20002}, 1, analog, value} },

 {event, green,
  {hex_epx, [{id,green},{type,slider},
	     {x,68},{y,10},{width,6},{height,220},
	     {orientation, vertical},
	     {color2, 16#000000},
	     {topimage, "$/hex//test/knob.png"},
	     {border, 1},
	     {orientation, vertical},
	     {fill,solid},{color,16#ff00ff00},{min,0},{max,255}]},
  {{xcobid, pdo1_tx, 16#20002}, 2, analog, value} },

 {event, blue,
  {hex_epx, [{id,blue},{type,slider},
	     {x,110},{y,10},{width,6},{height,220},
	     {orientation, vertical},
	     {color2, 16#000000},
	     {border, 1},
	     {topimage, "$/hex//test/knob.png"},
	     {fill,solid},{color,16#ff0000ff},{min,0},{max,255}]},
  {{xcobid, pdo1_tx, 16#20002}, 3, analog, value} },

 {event, close,
  {hex_epx, [{id,screen},{type,window},{static,false}]},
  {{xcobid, pdo1_tx, 16#20002}, 4, digital, value} },

 {input,1,
  {{xcobid, pdo1_tx, 16#20002}, 1, analog, []},
  [{output,[{channel,1},{target,r}]}]},

 {input,2,
  {{xcobid, pdo1_tx, 16#20002}, 2, analog, []},
  [{output,[{channel,1},{target,g}]}]},

 {input,4,
  {{xcobid, pdo1_tx, 16#20002}, 3, analog, []},
  [{output,[{channel,1},{target,b}]}]},

{output, 1, [{enable,"true"},
	     {target,[{name,r},{expr,"r"}]},
	     {target,[{name,g},{expr,"g"}]},
	     {target,[{name,b},{expr,"b"}]},
	     {target,[{name,color},
		      {expr,"(r*65536+g*256+b)"}]}
	    ],
 [{"true",
   {hex_epx, [{id,r_rect},{type,rectangle},
	      {x,152},{y,10},{width,64},{height,220},{fill,solid},
	      {color, 16#000000}]}}]}
 ]}]}
].
