%% -*- erlang -*-
%%  Simple example with on epx button and one action
%%
[
 {lager, [
	  {handlers, [
		      {lager_console_backend, [debug,true]}
		     ]}
	 ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},

 %% hex config
 {hex, [
	{nodeid,16#03000301},
	{config,
%% INLINE CONFIG
%% Simple hex_epx button connected to audio output
[
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, 1, {hex_can, []}, {id, chan, type, value}},
 {event, 2,
  {hex_epx, [{id,wof},{type,button},
	     {x,26},{y,10},{width,64},{height,64},
	     {image,"$/hex//test/sea-view.png"},
	     {font,[{name,"Arial"},{size,12}]},
	     {text,"BARK"}]},
  {{xcobid, pdo1_tx, 16#20002}, 1, digital, value}},

 {event, 3,
  {hex_epx, [{id,ship},{type,image},
	     {x,100},{y,10},{width,64},{height,64},
	     {fill,solid},{color,16#ffff0000},
	     {image,"$/hex//test/boat.png"}]},
  {{xcobid, pdo1_tx, 16#20002}, 2, digital, value}},

 {event, 4,
  {hex_epx, [{id,boat},{type,image},
	     {x,174},{y,10},{width,64},{height,64},
	     {fill,solid},{color,16#ffff0000},
	     {image,"$/hex//test/ship.png"}]},
  {{xcobid, pdo1_tx, 16#20002}, 3, digital, value}},

 {input,1,
  {{xcobid, pdo1_tx, 16#20002}, 1, digital, []}, 
  [{output,[{channel,1}]}]},

 {output, 1, [{transmit,true}],
  [{"ena",
    {hex_script,
     [{command,[{os,"darwin"},
		{cmdline,"afplay $/hex//priv/bark.wav"}]},
      {command,[{os,"linux"},
		{cmdline,"paplay $/hex//priv/bark.wav"}]}
     ]}}]}
]}]}
].
