%% -*- erlang -*-
%%  Simple example with on epx button and one action
%%
[
 {lager, [
	  {handlers, [
		      {lager_console_backend, [debug,true]}
		     ]}
	 ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},

 %% hex config
 {hex, [
	{nodeid,16#03000301},
	{config,
%% INLINE CONFIG
%% Simple hex_epx button connected to audio output
%%
%% Send changes to Fresh water level with:
%% cocli_udp -c 0x20001 notify analog:1 <0-100>
%%
[
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, 1, {hex_can, []}, {id, chan, type, value}},

 {input,1,
  {{xcobid, pdo1_tx, 16#20001}, 1, analog, []},
  [{output,[{channel,1},{target,value}]}]},

 {input,2,
  {{xcobid, pdo1_tx, 16#20001}, 2, analog, []},
  [{output,[{channel,2},{target,value}]}]},


 {output, 1, [{enable,"true"},
	      {target,[{name,value},{expr, "value"}]}],
  [{"true",
    {hex_epx, [{id,fresh},{type,text},
	       {x,10},{y,10},{width,128},{height,200},
	       {orientation, vertical},
	       {animation, "$/hex//test/water.dds"},
	       {animate, continuous},
	       {frame,0},
	       {color2,16#ff000000},  %% black
	       {fill,solid},
	       {color,16#ffff0000},
	       {value,16383}, {min,0}, {max,16#ffff},
	       {font,[{name,"Arial"},{size,16}]},
	       {font_color, "white"},
	       {text,"Fresh"}]}}]},

 {output, 2, [{enable,"true"},
	      {target,[{name,value},{expr, "value"}]}],
  [{"true",
    {hex_epx, [{id,black},{type,text},
	       {x,148},{y,10},{width,128},{height,200},
	       {orientation, vertical},
	       {animation, "$/hex//test/lava.dds"},
	       {animate, continuous},
	       {frame,0},
	       {color2,16#ff000000},  %% black
	       {fill,solid},
	       {color,16#ffff0000},
	       {value,16383}, {min,0}, {max,16#ffff},
	       {font,[{name,"Arial"},{size,16}]},
	       {font_color, "white"},
	       {text,"Black"}]}}]}

]}
]}

].
