%% -*- erlang -*-
%%  HEX/EPX test, vertical panel
%%
[
 {lager, [
	  {handlers, [
		      {lager_console_backend, [debug,true]}
		     ]}
	 ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},

 {hex_epx, [
	    {width, 640},
	    {height, 480}
	   ]},

 %% hex config
 {hex, [
	{nodeid,16#03000301},
	{config,
[
%% INLINE CONFIG:
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, 1, {hex_can, []}, {id, chan, type, value}},

 {event, 10,
  {hex_epx, [{id,"output"}, {type,panel},
	     {tabs,["Hello","Panel","World"]},
	     {orientation, vertical},
	     %% value=1,2,3 control active tab
	     {value, 3},
	     {fill,solid},{color,16#ff2222AA},
	     {font,[{name,"Arial"},{size,32}]},
	     {font_color, 16#00333333},
	     {x,1},{y,1},{width,638},{height,478}]},
  {{xcobid, pdo1_tx, 16#20002}, 10, analog, value} },

{output, 1, [{enable,"true"}],
 [{"true",
   {hex_epx, [{id,"output.Hello"},{type,rectangle},
	      {fill,solid},{color,16#ff2222AA},
	      {x,1},{y,1},{width,638},{height,478}]}
  },
  {"true",
   {hex_epx, [{id,"output.Panel"},{type,rectangle},
	      {fill,solid},{color,16#ff22AA22},
	      {x,1},{y,1},{width,638},{height,478}]}},
  {"true",
   {hex_epx, [{id,"output.World"},{type,rectangle},
	      {fill,solid},{color,16#ffAA2222},
	      {x,1},{y,1},{width,638},{height,478}]}}
]},

 {event, 11,
  {hex_epx, [{id,"output.Hello.run"},{type,button},
	     {text, "Run"},
	     {font,[{name,"Arial"},{size,18}]},
	     {x,300},{y,200},{z,10},{width,64},{height,20},
	     {fill,solid}, {color,16#ffff3333}
	    ]},
  {{xcobid, pdo1_tx, 16#20002}, 11, digital, value}},

 {event, 12,
  {hex_epx, [{id,"output.Panel.run"},{type,button},
	     {text, "Run"},
	     {font,[{name,"Arial"},{size,18}]},
	     {x,300},{y,200},{z,10},{width,64},{height,20},
	     {fill,solid}, {color,16#ff33ff33}
	    ]},
  {{xcobid, pdo1_tx, 16#20002}, 12, digital, value}},

 {event, 13,
  {hex_epx, [{id,"output.World.run"},{type,button},
	     {text, "Run"},
	     {font,[{name,"Arial"},{size,18}]},
	     {x,300},{y,200},{z,10},{width,64},{height,20},
	     {fill,solid}, {color,16#ff3333ff}
	    ]},
  {{xcobid, pdo1_tx, 16#20002}, 12, digital, value}}
]}
]}
].
