%% -*- erlang -*-
%% HEX
%% Configuration file for included erlang applications.
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 %% Lager config, see lager documentation
 {lager, [{log_root, "log/lager"},
	  {handlers, [
		      {lager_console_backend, info},
		      {lager_file_backend, 
		       [{file, "error.log"}, {level, error}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]},
		      {lager_file_backend, 
		       [{file, "console.log"}, {level, info}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]}
		     ]}
	  ]},
 %%
 %% can/hex_can config
 %%
 {can, [{interfaces,
	 [{can_udp, 0, [{ttl,0}]}  %% ttl=0 => localhost, ttl=1 => localnet ...
%%	  {can_usb, 0, [{device, "/dev/tty.usbserial-LWQ6UYOM"},
%%			{bitrate, 250000}]}
	 ]}]},
 {hex_can, []},  %% nothing yet
 %%
 %% gpio/hex_gpio
 %%
 {gpio, [ 
	  {debug, false},           %% driver debugging
	  {no_auto_create, false}   %% automatically init pin
	  %% {chipset, bcm2835},    %% (raspberry pi A/B)
	  %% {chipset, omap34xx},   %% (AR drone 2.0)
	]},
 {hex_gpio, []},  %% nothing yet

 {tellstick,
  [{options,[
%%	     {device, "/dev/tty.usbserial-A4016C6D"},
%%	     {variant, stick}, %% stick|duo|net|simulated
%%	     {device, "JZFVDYNXVE"}   %% code on the backside
%%	     {variant, net},          %% stick|duo|net|simulated
%%	     {retry_timeout, infinity}
	    ]}
  ]},
 {hex_tellstick, []},  %% nothing yet

 %%
 %% gsms/hex_sms
 %%
 {gsms, [{interfaces,
	  [
	   {gsms_0705, 1, [{device,"/dev/tty.usbserial-FTF5DP2J"},
			   {bnumber, "<phone-number>"},{baud,19200},
			   {reopen_timeout, 5000}]},
	   {gsms_0705, 2, [{device,"/dev/tty.HUAWEIMobile-Pcui"},
			   {bnumber, "<phone-number>"},
			   {reopen_timeout, 5000}]},
	   {gsms_0705, 3, [{device, "/dev/tty.usbserial"},
			   {bnumber, "<phone-number>"},
			   {baud, 9600}]}
	  ]}
	]},
 {hex_sms, []},   %% nothing yet
 %%
 %% hex_smtp config
 %%
 {hex_smtp, [{account1,
	      [{relay, "smtp.mail.com"},
	       {username, "user"},
	       {password, "password"},
	       {port,2525}]}]},
	      
 %% hex config
 {hex, [
	{nodeid,16#03000301},
	{config, "panel.conf"}
       ]}
].
